Debug/
Release/
.vs/
.vs/NEMA to TSIP Converter/v14/.atsuo
NMEA to TSIP Converter/NMEA to TSIP Converter.componentinfo.xml
*.workspace
*.pdsbak
*.doc#
*.odt#
Docs/Резервная_копия_Блок-схема железа.cdr
Docs/Резервная_копия_Блок-схема программы.cdr
PCB/Резервная_копия_Размеры платы.cdr
PCB/~Scheme.dch~
PCB/~Scheme GPS.dch~
PCB/~Scheme my block.dch~
PCB/~PCB my block.dip~
PCB/PCB сборочный чертеж.jpg
PCB/Схема соединений.pdf
