<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CmpMagnetometersData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <CmpMagnetometersData.Properties.Settings>
            <setting name="NormalColor" serializeAs="String">
                <value>DarkGreen</value>
            </setting>
            <setting name="WarningColor" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="ErrorColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ViewTimeDtp" serializeAs="String">
                <value>yy.MM.dd-HH:mm:ss</value>
            </setting>
            <setting name="ViewTimeChart" serializeAs="String">
                <value>yy.MM.dd-HH:mm:ss</value>
            </setting>
            <setting name="ViewTimeText" serializeAs="String">
                <value>yy.MM.dd-HH:mm:ss</value>
            </setting>
            <setting name="IsYAutoScroll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsYSyncZoom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ZoomSpeed" serializeAs="String">
                <value>0.125</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>1000, 600</value>
            </setting>
        </CmpMagnetometersData.Properties.Settings>
    </userSettings>
</configuration>